.card {
    background-color: peachpuff;
    border: 1px solid black;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 75px 75px 75px;
    grid-template-rows: 75px 75px;
    gap: 32px;
  }


  .container {
    display: grid;
    grid-template-columns: 250px 50px 50px;
    grid-template-rows: 50px 50px;
  }